In [ ]:
import dlt

@dlt.view
def test_view():
  return spark.sql("SELECT 1")

@dlt.table
def test_table():
  return dlt.read("test_view")