In [ ]:
spark.sql("SELECT 1")